{% extends "bootstrap/base.html" %}

{%  block title %} My Page {% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap_mods.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bs-callout.css') }}" />
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Joel Christiansen</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col bs-callout bs-callout-info">HELLO!</div>
        </div>
    </div>
{% endblock %}
